<body style="background-color: gray">
  <h1 style="text-align: center;color: royalblue">Electronics Cart</h1>
  <h3  style="text-align: center;">{{UserName}}</h3>
<div style="width: 100%;">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <ul class="nav ">
            <button class="btn btn-primary" routerLink='/phone'>Phones</button>
            <button class="btn btn-primary"  routerLink='/Cart'>Cart</button>
          </ul>
        </div>
      </nav> 
</div>
</body>
<router-outlet ></router-outlet>